[Unit]
Description=ula-node
Requires=uhmi-agl-wm.service
After=uhmi-agl-wm.service

[Service]
Type=idle
ExecStart=/usr/bin/ula-node
KillSignal=SIGTERM
TimeoutStopSec=10
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
